CONFIG_LIBC_USE_GLIBC=y
CONFIG_TARGET_brcm2708=y
CONFIG_TARGET_brcm2708_bcm2709=y
# CONFIG_TARGET_MULTI_PROFILE is not set
CONFIG_TARGET_brcm2708_bcm2709_DEVICE_rpi-2=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_EXT4_RESERVED_PCT=10
CONFIG_TARGET_EXT4_BLOCKSIZE_4K=y
# CONFIG_TARGET_EXT4_BLOCKSIZE_2K is not set
# CONFIG_TARGET_EXT4_BLOCKSIZE_1K is not set
CONFIG_TARGET_EXT4_BLOCKSIZE=4096
CONFIG_TARGET_EXT4_JOURNAL=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
CONFIG_TARGET_UBIFS_FREE_SPACE_FIXUP=y
CONFIG_TARGET_UBIFS_JOURNAL_SIZE=""
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_BRCM2708_SD_BOOT_PARTSIZE=20
CONFIG_TARGET_ROOTFS_PARTSIZE=256
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_busybox=m
CONFIG_PACKAGE_dropbear=m
CONFIG_PACKAGE_ip6tables=m
CONFIG_PACKAGE_kmod-sound-arm-bcm2835=m
CONFIG_PACKAGE_kmod-sound-core=m
CONFIG_PACKAGE_kmod-usb-hid=m
CONFIG_PACKAGE_mtd=m
CONFIG_PACKAGE_odhcp6c=m
CONFIG_PACKAGE_opkg=m
CONFIG_PACKAGE_ppp-mod-pppoe=m
CONFIG_PACKAGE_uci=m
