CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_ATH_USER_REGD=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_DEBUG_KERNEL is not set
# CONFIG_KERNEL_KALLSYMS is not set
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_MKSWAP=n
CONFIG_BUSYBOX_CONFIG_SWAPONOFF=n
CONFIG_OPENVPN_polarssl_ENABLE_LZO=y
CONFIG_OPENVPN_polarssl_ENABLE_SMALL=y
CONFIG_OPENVPN_polarssl_ENABLE_IPROUTE2=y
CONFIG_PACKAGE_6in4=m
CONFIG_PACKAGE_6to4=m
CONFIG_PACKAGE_collectd=m
CONFIG_PACKAGE_collectd-mod-cpu=m
CONFIG_PACKAGE_collectd-mod-exec=m
CONFIG_PACKAGE_collectd-mod-interface=m
CONFIG_PACKAGE_collectd-mod-iwinfo=m
CONFIG_PACKAGE_collectd-mod-load=m
CONFIG_PACKAGE_collectd-mod-memory=m
CONFIG_PACKAGE_collectd-mod-network=m
CONFIG_PACKAGE_collectd-mod-olsrd=m
CONFIG_PACKAGE_collectd-mod-ping=m
CONFIG_PACKAGE_collectd-mod-rrdtool=m
CONFIG_PACKAGE_collectd-mod-uptime=m
CONFIG_PACKAGE_collectd-mod-wireless=m
CONFIG_PACKAGE_ethtool=m
CONFIG_PACKAGE_horst=m
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_iperf=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-filter=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_kmod-ath9k-htc=m
CONFIG_PACKAGE_kmod-crypto-crc32c=m
CONFIG_PACKAGE_kmod-crypto-hash=m
CONFIG_PACKAGE_kmod-fs-cifs=m
CONFIG_PACKAGE_kmod-fs-ext4=m
CONFIG_PACKAGE_kmod-fs-vfat=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ipip=m
CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-iptunnel4=m
CONFIG_PACKAGE_kmod-ledtrig-usbdev=y
CONFIG_PACKAGE_kmod-lib-crc-itu-t=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-lib-textsearch=m
CONFIG_PACKAGE_kmod-nls-utf8=m
CONFIG_PACKAGE_kmod-nls-iso8859-1=m
CONFIG_PACKAGE_kmod-nls-iso8859-15=m
CONFIG_PACKAGE_kmod-rt2800-usb=m
CONFIG_PACKAGE_kmod-rt2x00-usb=m
CONFIG_PACKAGE_kmod-rtl8187=m
CONFIG_PACKAGE_kmod-rtl8192cu=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-sit=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-acm=m
CONFIG_PACKAGE_kmod-usb-net=m
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=m
CONFIG_PACKAGE_kmod-usb-net-rndis=m
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-serial=m
CONFIG_PACKAGE_kmod-usb-serial-option=m
CONFIG_PACKAGE_kmod-usb-serial-wwan=m
CONFIG_PACKAGE_kmod-usb-storage=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libiwinfo=m
CONFIG_PACKAGE_libiwinfo-lua=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libncurses-dev=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_liboping=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpolarssl=m
CONFIG_PACKAGE_libpthread=m
CONFIG_PACKAGE_librrd1=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_libubus-lua=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_libustream-polarssl=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_mtr=m
CONFIG_PACKAGE_om-watchdog=m
CONFIG_PACKAGE_openvpn-polarssl=m
CONFIG_PACKAGE_px5g-standalone=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_rrdtool1=m
CONFIG_PACKAGE_rssileds=m
CONFIG_PACKAGE_tc=m
# CONFIG_PACKAGE_tcpdump is not set
# CONFIG_PACKAGE_tcpdump-mini is not set
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_tmux=m
CONFIG_PACKAGE_uclibcxx=m
CONFIG_PACKAGE_uhttpd=m
CONFIG_PACKAGE_uhttpd-mod-ubus=m
CONFIG_PACKAGE_vnstat=m
CONFIG_PACKAGE_wpad=m
CONFIG_PACKAGE_zlib=m
# CONFIG_STRIP_KERNEL_EXPORTS is not set
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="lede-pw"
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER="f2a"
CONFIG_VERSION_NICK="peter"
CONFIG_VERSION_NUMBER="0.1.0"
CONFIG_VERSION_PRODUCT="alpha"
CONFIG_VERSION_REPO="http://firmware.lunatiki.de/lede"
# CONFIG_OPENVPN_polarssl_ENABLE_DEF_AUTH is not set
# CONFIG_OPENVPN_polarssl_ENABLE_FRAGMENT is not set
# CONFIG_OPENVPN_polarssl_ENABLE_HTTP is not set
# CONFIG_OPENVPN_polarssl_ENABLE_MULTIHOME is not set
# CONFIG_OPENVPN_polarssl_ENABLE_PF is not set
# CONFIG_OPENVPN_polarssl_ENABLE_PORT_SHARE is not set
# CONFIG_OPENVPN_polarssl_ENABLE_SERVER is not set
# CONFIG_OPENVPN_polarssl_ENABLE_SOCKS is not set
CONFIG_PACKAGE_kmod-lib-crc-ccitt=m
CONFIG_KERNEL_SWAP=n

# CONFIG_KERNEL_COREDUMP is not set
# CONFIG_KERNEL_ELF_CORE is not set
CONFIG_KERNEL_KEXEC=y
CONFIG_PACKAGE_464xlat=m
CONFIG_PACKAGE_6rd=m
CONFIG_PACKAGE_adblock=m
CONFIG_PACKAGE_collectd-mod-conntrack=m
CONFIG_PACKAGE_collectd-mod-iptables=m
CONFIG_PACKAGE_collectd-mod-tcpconns=m
CONFIG_PACKAGE_etherwake=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_iftop=m
CONFIG_PACKAGE_ip6tables-extra=m
CONFIG_PACKAGE_ip6tables-mod-nat=m
CONFIG_PACKAGE_iptables-mod-extra=m
CONFIG_PACKAGE_iptables-mod-iprange=m
CONFIG_PACKAGE_iptables-mod-ipsec=m
CONFIG_PACKAGE_iptables-mod-tee=m
CONFIG_PACKAGE_iptables-mod-tproxy=m
CONFIG_PACKAGE_iptables-mod-u32=m
CONFIG_PACKAGE_iptables-mod-ulog=m
CONFIG_PACKAGE_kadnode=m
CONFIG_PACKAGE_kmod-ipt-nathelper-rtsp=m
CONFIG_PACKAGE_kmod-nf-nathelper-extra=m
CONFIG_PACKAGE_kmod-nf-nathelper=m
CONFIG_PACKAGE_kmod-usb-net-cdc-eem=m
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=m
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=m
CONFIG_PACKAGE_kmod-usb-net-cdc-subset=m
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=m
CONFIG_PACKAGE_comgt-ncm=m
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=m
CONFIG_PACKAGE_kmod-usb2=m
CONFIG_PACKAGE_libubox-lua=m
CONFIG_PACKAGE_mdnsd=m
CONFIG_PACKAGE_ohybridproxy=m
CONFIG_PACKAGE_openvpn-openssl=m
CONFIG_PACKAGE_ppp-mod-pptp=m
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_rpcd-mod-file=m
CONFIG_PACKAGE_rpcd-mod-iwinfo=m
CONFIG_PACKAGE_rpcd-mod-rpcsys=m
CONFIG_PACKAGE_sstp-client=m
CONFIG_PACKAGE_uhttpd-mod-lua=m
CONFIG_PACKAGE_uqmi=m
CONFIG_PACKAGE_usb-modeswitch=m
CONFIG_PACKAGE_usbmuxd=m
CONFIG_PACKAGE_usbreset=m
CONFIG_PACKAGE_usbutils=m
CONFIG_PACKAGE_wget=m
CONFIG_PACKAGE_xl2tpd=m
CONFIG_PACKAGE_curl=m
CONFIG_PACKAGE_ca-certificates=m
CONFIG_PACKAGE_openssl-util=m
CONFIG_PACKAGE_libustream-openssl=m
CONFIG_OPENVPN_openssl_ENABLE_IPROUTE2=y
CONFIG_PACKAGE_avahi-nodbus-daemon=m
CONFIG_PACKAGE_avahi-daemon-service-http=m
CONFIG_PACKAGE_avahi-daemon-service-ssh=m
CONFIG_PACKAGE_arp-scan=m
