CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_ALFRED_NEEDS_lua=y
CONFIG_ATH_USER_REGD=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_DEBUG_KERNEL is not set
# CONFIG_KERNEL_KALLSYMS is not set
CONFIG_KMOD_BATMAN_ADV_BLA=y
CONFIG_KMOD_BATMAN_ADV_DAT=y
CONFIG_KMOD_BATMAN_ADV_MCAST=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_MKSWAP=n
CONFIG_BUSYBOX_CONFIG_SWAPONOFF=n
CONFIG_OPENVPN_polarssl_ENABLE_LZO=y
CONFIG_OPENVPN_polarssl_ENABLE_SMALL=y
CONFIG_OPENVPN_polarssl_ENABLE_IPROUTE2=y
CONFIG_PACKAGE_6in4=m
CONFIG_PACKAGE_6to4=m
CONFIG_PACKAGE_ALFRED_BATHOSTS=y
CONFIG_PACKAGE_ALFRED_VIS=y
CONFIG_PACKAGE_ATH_DFS=y
CONFIG_PACKAGE_alfred=m
CONFIG_PACKAGE_batctl=m
CONFIG_PACKAGE_collectd=m
CONFIG_PACKAGE_collectd-mod-cpu=m
CONFIG_PACKAGE_collectd-mod-exec=m
CONFIG_PACKAGE_collectd-mod-interface=m
CONFIG_PACKAGE_collectd-mod-iwinfo=m
CONFIG_PACKAGE_collectd-mod-load=m
CONFIG_PACKAGE_collectd-mod-memory=m
CONFIG_PACKAGE_collectd-mod-network=m
CONFIG_PACKAGE_collectd-mod-olsrd=m
CONFIG_PACKAGE_collectd-mod-ping=m
CONFIG_PACKAGE_collectd-mod-rrdtool=m
CONFIG_PACKAGE_collectd-mod-uptime=m
CONFIG_PACKAGE_collectd-mod-wireless=m
CONFIG_PACKAGE_community-profiles=m
CONFIG_PACKAGE_ethtool=m
CONFIG_PACKAGE_horst=m
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_iperf=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-filter=m
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_kmod-ath9k-htc=m
CONFIG_PACKAGE_kmod-batman-adv=m
CONFIG_PACKAGE_kmod-crypto-crc32c=m
CONFIG_PACKAGE_kmod-crypto-hash=m
CONFIG_PACKAGE_kmod-fs-cifs=m
CONFIG_PACKAGE_kmod-fs-ext4=m
CONFIG_PACKAGE_kmod-fs-vfat=m
CONFIG_PACKAGE_kmod-ifb=m
CONFIG_PACKAGE_kmod-ipip=m
CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-iptunnel4=m
CONFIG_PACKAGE_kmod-ledtrig-usbdev=y
CONFIG_PACKAGE_kmod-lib-crc-itu-t=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-lib-textsearch=m
CONFIG_PACKAGE_kmod-nls-utf8=m
CONFIG_PACKAGE_kmod-nls-iso8859-1=m
CONFIG_PACKAGE_kmod-nls-iso8859-15=m
CONFIG_PACKAGE_kmod-rt2800-usb=m
CONFIG_PACKAGE_kmod-rt2x00-usb=m
CONFIG_PACKAGE_kmod-rtl8187=m
CONFIG_PACKAGE_kmod-rtl8192cu=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=m
CONFIG_PACKAGE_kmod-sit=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-acm=m
CONFIG_PACKAGE_kmod-usb-net=m
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=m
CONFIG_PACKAGE_kmod-usb-net-rndis=m
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-serial=m
CONFIG_PACKAGE_kmod-usb-serial-option=m
CONFIG_PACKAGE_kmod-usb-serial-wwan=m
CONFIG_PACKAGE_kmod-usb-storage=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libiwinfo=m
CONFIG_PACKAGE_libiwinfo-lua=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_liboping=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpolarssl=m
CONFIG_PACKAGE_libpthread=m
CONFIG_PACKAGE_librrd1=m
CONFIG_PACKAGE_librt=m
CONFIG_PACKAGE_libubus-lua=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_libustream-polarssl=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_luci-app-firewall=m
CONFIG_PACKAGE_luci-app-olsr=m
CONFIG_PACKAGE_luci-app-olsr-services=m
CONFIG_PACKAGE_luci-app-olsr-viz=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-app-owm=m
CONFIG_PACKAGE_luci-app-owm-ant=m
CONFIG_PACKAGE_luci-app-owm-cmd=m
CONFIG_PACKAGE_luci-app-owm-gui=m
CONFIG_PACKAGE_luci-app-splash=m
CONFIG_PACKAGE_luci-app-statistics=m
CONFIG_PACKAGE_luci-base=m
CONFIG_PACKAGE_luci-lib-httpclient=m
CONFIG_PACKAGE_luci-lib-json=m
CONFIG_PACKAGE_luci-lib-luaneightbl=m
CONFIG_PACKAGE_luci-lib-nixio=m
CONFIG_PACKAGE_luci-mod-admin-full=m
CONFIG_PACKAGE_luci-theme-bootstrap=m
CONFIG_PACKAGE_mtr=m
CONFIG_PACKAGE_olsrd=m
CONFIG_PACKAGE_olsrd-mod-arprefresh=m
CONFIG_PACKAGE_olsrd-mod-dot-draw=m
CONFIG_PACKAGE_olsrd-mod-dyn-gw=m
CONFIG_PACKAGE_olsrd-mod-dyn-gw-plain=m
CONFIG_PACKAGE_olsrd-mod-jsoninfo=m
CONFIG_PACKAGE_olsrd-mod-nameservice=m
CONFIG_PACKAGE_olsrd-mod-txtinfo=m
CONFIG_PACKAGE_olsrd-mod-watchdog=m
CONFIG_PACKAGE_om-watchdog=m
CONFIG_PACKAGE_oonf-dlep-proxy=m
CONFIG_PACKAGE_oonf-dlep-radio=m
CONFIG_PACKAGE_oonf-olsrd2=m
CONFIG_PACKAGE_openvpn-polarssl=m
CONFIG_PACKAGE_px5g-polarssl=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_rrdtool1=m
CONFIG_PACKAGE_rssileds=m
CONFIG_PACKAGE_tc=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_tcpdump-mini=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_tmux=m
CONFIG_PACKAGE_uclibcxx=m
CONFIG_PACKAGE_uhttpd=m
CONFIG_PACKAGE_uhttpd-mod-tls=m
CONFIG_PACKAGE_uhttpd-mod-tls_polarssl=y
CONFIG_PACKAGE_uhttpd-mod-ubus=m
CONFIG_PACKAGE_vnstat=m
CONFIG_PACKAGE_wpad=m
CONFIG_PACKAGE_zlib=m
# CONFIG_STRIP_KERNEL_EXPORTS is not set
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="lede-ga"
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER="pberg"
CONFIG_VERSION_NICK="paul"
CONFIG_VERSION_NUMBER="0.1.0"
CONFIG_VERSION_PRODUCT="alpha"
CONFIG_VERSION_REPO="http://firmware.lunatiki.de/lede"
# CONFIG_OPENVPN_polarssl_ENABLE_DEF_AUTH is not set
# CONFIG_OPENVPN_polarssl_ENABLE_FRAGMENT is not set
# CONFIG_OPENVPN_polarssl_ENABLE_HTTP is not set
# CONFIG_OPENVPN_polarssl_ENABLE_MULTIHOME is not set
# CONFIG_OPENVPN_polarssl_ENABLE_PF is not set
# CONFIG_OPENVPN_polarssl_ENABLE_PORT_SHARE is not set
# CONFIG_OPENVPN_polarssl_ENABLE_SERVER is not set
# CONFIG_OPENVPN_polarssl_ENABLE_SOCKS is not set
CONFIG_PACKAGE_kmod-lib-crc-ccitt=m
CONFIG_LUCI_SRCDIET=y
CONFIG_LUCI_LANG_de=m
CONFIG_LUCI_LANG_en=m
CONFIG_KERNEL_SWAP=n

# CONFIG_KERNEL_COREDUMP is not set
# CONFIG_KERNEL_ELF_CORE is not set
CONFIG_KERNEL_KEXEC=y
CONFIG_PACKAGE_464xlat=m
CONFIG_PACKAGE_6rd=m
CONFIG_PACKAGE_adblock=m
CONFIG_PACKAGE_collectd-mod-conntrack=m
CONFIG_PACKAGE_collectd-mod-iptables=m
CONFIG_PACKAGE_collectd-mod-tcpconns=m
CONFIG_PACKAGE_etherwake=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_iftop=m
CONFIG_PACKAGE_ip6tables-extra=m
CONFIG_PACKAGE_ip6tables-mod-nat=m
CONFIG_PACKAGE_iptables-mod-extra=m
CONFIG_PACKAGE_iptables-mod-iprange=m
CONFIG_PACKAGE_iptables-mod-ipsec=m
CONFIG_PACKAGE_iptables-mod-tee=m
CONFIG_PACKAGE_iptables-mod-tproxy=m
CONFIG_PACKAGE_iptables-mod-u32=m
CONFIG_PACKAGE_iptables-mod-ulog=m
CONFIG_PACKAGE_kadnode=m
CONFIG_PACKAGE_kmod-ipt-nathelper-rtsp=m
CONFIG_PACKAGE_kmod-nf-nathelper-extra=m
CONFIG_PACKAGE_kmod-nf-nathelper=m
CONFIG_PACKAGE_kmod-usb-net-cdc-eem=m
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=m
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=m
CONFIG_PACKAGE_kmod-usb-net-cdc-subset=m
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=m
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=m
CONFIG_PACKAGE_kmod-usb2=m
CONFIG_PACKAGE_libubox-lua=m
CONFIG_PACKAGE_luci-app-ahcp=m
CONFIG_PACKAGE_luci-app-multiwan=m
CONFIG_PACKAGE_luci-app-mwan3=m
CONFIG_PACKAGE_luci-app-ntpc=m
CONFIG_PACKAGE_luci-app-qos=m
CONFIG_PACKAGE_luci-app-wol=m
CONFIG_PACKAGE_luci-i18n-wol-de=m
CONFIG_PACKAGE_luci-lib-jsonc=m
CONFIG_PACKAGE_luci-proto-3g=m
CONFIG_PACKAGE_luci-proto-ipv6=m
CONFIG_PACKAGE_luci-proto-ppp=m
CONFIG_PACKAGE_luci-proto-relay=m
CONFIG_PACKAGE_luci-mod-freifunk=m
CONFIG_PACKAGE_mdnsd=m
CONFIG_PACKAGE_ohybridproxy=m
CONFIG_PACKAGE_oonf-init-scripts=m
CONFIG_PACKAGE_openvpn-openssl=m
CONFIG_PACKAGE_ppp-mod-pptp=m
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_rpcd-mod-file=m
CONFIG_PACKAGE_rpcd-mod-iwinfo=m
CONFIG_PACKAGE_rpcd-mod-rpcsys=m
CONFIG_PACKAGE_sstp-client=m
CONFIG_PACKAGE_uhttpd-mod-lua=m
CONFIG_PACKAGE_uqmi=m
CONFIG_PACKAGE_usb-modeswitch=m
CONFIG_PACKAGE_usbmuxd=m
CONFIG_PACKAGE_usbreset=m
CONFIG_PACKAGE_usbutils=m
CONFIG_PACKAGE_wget=m
CONFIG_PACKAGE_xl2tpd=m
CONFIG_PACKAGE_luci2=m
CONFIG_PACKAGE_luci2-ui-base=m
CONFIG_PACKAGE_luci2-rpc-base=m
CONFIG_PACKAGE_luci2-rpc-bwmon=m
CONFIG_PACKAGE_luci2-io-helper=m
CONFIG_PACKAGE_luci2-rpc-rrdns=m
CONFIG_PACKAGE_automation-defaults=m
CONFIG_PACKAGE_bacnet-stack-uci=m
CONFIG_PACKAGE_bacnet-stack-utils=m
CONFIG_PACKAGE_bacnet-stack-bip=m
CONFIG_BACNET_STACK_BIP_AI=y
CONFIG_BACNET_STACK_BIP_AI_MAX="512"
CONFIG_BACNET_STACK_BIP_AO=y
CONFIG_BACNET_STACK_BIP_AO_MAX="512"
CONFIG_BACNET_STACK_BIP_AV=y
CONFIG_BACNET_STACK_BIP_AV_MAX="512"
CONFIG_BACNET_STACK_BIP_BI=y
CONFIG_BACNET_STACK_BIP_BI_MAX="512"
CONFIG_BACNET_STACK_BIP_BO=y
CONFIG_BACNET_STACK_BIP_BO_MAX="512"
CONFIG_BACNET_STACK_BIP_BV=y
CONFIG_BACNET_STACK_BIP_BV_MAX="512"
CONFIG_BACNET_STACK_BIP_MSI=y
CONFIG_BACNET_STACK_BIP_MSI_MAX="512"
CONFIG_BACNET_STACK_BIP_MSO=y
CONFIG_BACNET_STACK_BIP_MSO_MAX="512"
CONFIG_BACNET_STACK_BIP_MSV=y
CONFIG_BACNET_STACK_BIP_MSV_MAX="512
CONFIG_BACNET_STACK_BIP_NC=y
CONFIG_BACNET_STACK_BIP_NC_MAX="16"
CONFIG_BACNET_STACK_BIP_TRENDLOG=y
CONFIG_BACNET_STACK_BIP_TRENDLOG_MAX="16"
# CONFIG_BACNET_STACK_BIP_FILE is not set
CONFIG_BACNET_STACK_BIP_TIME=y
CONFIG_BACNET_STACK_BIP_BBMD=y
# CONFIG_BACNET_STACK_BIP_BBMD_CLIENT is not set
CONFIG_PACKAGE_bacnet-stack-bip6=m
CONFIG_BACNET_STACK_BIP6_AI=y
CONFIG_BACNET_STACK_BIP6_AI_MAX="512"
CONFIG_BACNET_STACK_BIP6_AO=y
CONFIG_BACNET_STACK_BIP6_AO_MAX="512"
CONFIG_BACNET_STACK_BIP6_AV=y
CONFIG_BACNET_STACK_BIP6_AV_MAX="512"
CONFIG_BACNET_STACK_BIP6_BI=y
CONFIG_BACNET_STACK_BIP6_BI_MAX="512"
CONFIG_BACNET_STACK_BIP6_BO=y
CONFIG_BACNET_STACK_BIP6_BO_MAX="512"
CONFIG_BACNET_STACK_BIP6_BV=y
CONFIG_BACNET_STACK_BIP6_BV_MAX="512"
CONFIG_BACNET_STACK_BIP6_MSI=y
CONFIG_BACNET_STACK_BIP6_MSI_MAX="512"
CONFIG_BACNET_STACK_BIP6_MSO=y
CONFIG_BACNET_STACK_BIP6_MSO_MAX="512"
CONFIG_BACNET_STACK_BIP6_MSV=y
CONFIG_BACNET_STACK_BIP6_MSV_MAX="512
CONFIG_BACNET_STACK_BIP6_NC=y
CONFIG_BACNET_STACK_BIP6_NC_MAX="16"
CONFIG_BACNET_STACK_BIP6_TRENDLOG=y
CONFIG_BACNET_STACK_BIP6_TRENDLOG_MAX="16"
# CONFIG_BACNET_STACK_BIP6_FILE is not set
CONFIG_BACNET_STACK_BIP6_TIME=y
CONFIG_BACNET_STACK_BIP6_BBMD=y
# CONFIG_BACNET_STACK_BIP6_BBMD_CLIENT is not set
CONFIG_PACKAGE_bacnet-stack-ethernet=m
CONFIG_BACNET_STACK_ETHERNET_AI=y
CONFIG_BACNET_STACK_ETHERNET_AI_MAX="512"
CONFIG_BACNET_STACK_ETHERNET_AO=y
CONFIG_BACNET_STACK_ETHERNET_AO_MAX="512"
CONFIG_BACNET_STACK_ETHERNET_AV=y
CONFIG_BACNET_STACK_ETHERNET_AV_MAX="512"
CONFIG_BACNET_STACK_ETHERNET_BI=y
CONFIG_BACNET_STACK_ETHERNET_BI_MAX="512"
CONFIG_BACNET_STACK_ETHERNET_BO=y
CONFIG_BACNET_STACK_ETHERNET_BO_MAX="512"
CONFIG_BACNET_STACK_ETHERNET_BV=y
CONFIG_BACNET_STACK_ETHERNET_BV_MAX="512"
CONFIG_BACNET_STACK_ETHERNET_MSI=y
CONFIG_BACNET_STACK_ETHERNET_MSI_MAX="512"
CONFIG_BACNET_STACK_ETHERNET_MSO=y
CONFIG_BACNET_STACK_ETHERNET_MSO_MAX="512"
CONFIG_BACNET_STACK_ETHERNET_MSV=y
CONFIG_BACNET_STACK_ETHERNET_MSV_MAX="512"
CONFIG_BACNET_STACK_ETHERNET_NC=y
CONFIG_BACNET_STACK_ETHERNET_NC_MAX="16"
CONFIG_BACNET_STACK_ETHERNET_TRENDLOG=y
CONFIG_BACNET_STACK_ETHERNET_TRENDLOG_MAX="16"
# CONFIG_BACNET_STACK_ETHERNET_FILE is not set
CONFIG_BACNET_STACK_ETHERNET_TIME=y
CONFIG_BACNET_STACK_ETHERNET_BBMD=y
# CONFIG_BACNET_STACK_ETHERNET_BBMD_CLIENT is not set
CONFIG_PACKAGE_bacnet-stack-mstp=m
CONFIG_BACNET_STACK_MSTP_AI=y
CONFIG_BACNET_STACK_MSTP_AI_MAX="512"
CONFIG_BACNET_STACK_MSTP_AO=y
CONFIG_BACNET_STACK_MSTP_AO_MAX="512"
CONFIG_BACNET_STACK_MSTP_AV=y
CONFIG_BACNET_STACK_MSTP_AV_MAX="512"
CONFIG_BACNET_STACK_MSTP_BI=y
CONFIG_BACNET_STACK_MSTP_BI_MAX="512"
CONFIG_BACNET_STACK_MSTP_BO=y
CONFIG_BACNET_STACK_MSTP_BO_MAX="512"
CONFIG_BACNET_STACK_MSTP_BV=y
CONFIG_BACNET_STACK_MSTP_BV_MAX="512"
CONFIG_BACNET_STACK_MSTP_MSI=y
CONFIG_BACNET_STACK_MSTP_MSI_MAX="512"
CONFIG_BACNET_STACK_MSTP_MSO=y
CONFIG_BACNET_STACK_MSTP_MSO_MAX="512"
CONFIG_BACNET_STACK_MSTP_MSV=y
CONFIG_BACNET_STACK_MSTP_MSV_MAX="512"
CONFIG_BACNET_STACK_MSTP_NC=y
CONFIG_BACNET_STACK_MSTP_NC_MAX="16"
CONFIG_BACNET_STACK_MSTP_TRENDLOG=y
CONFIG_BACNET_STACK_MSTP_TRENDLOG_MAX="16"
# CONFIG_BACNET_STACK_MSTP_FILE is not set
CONFIG_BACNET_STACK_MSTP_TIME=y
# CONFIG_BACNET_STACK_MSTP_BBMD is not set
# CONFIG_BACNET_STACK_MSTP_BBMD_CLIENT is not set
CONFIG_PACKAGE_luci-app-bacnet=m
# CONFIG_LUCI_APP_BACNET_SRCDIET is not set
CONFIG_PACKAGE_curl=m
CONFIG_PACKAGE_ca-certificates=m
CONFIG_PACKAGE_openssl-util=m
CONFIG_PACKAGE_uhttpd-mod-tls_openssl=y
CONFIG_PACKAGE_libustream-openssl=m
CONFIG_OPENVPN_openssl_ENABLE_IPROUTE2=y
CONFIG_PACKAGE_busybox=m
CONFIG_PACKAGE_dropbear=m
CONFIG_PACKAGE_ip6tables=m
CONFIG_PACKAGE_kmod-sound-arm-bcm2835=m
CONFIG_PACKAGE_kmod-sound-core=m
CONFIG_PACKAGE_kmod-usb-hid=m
CONFIG_PACKAGE_mtd=m
CONFIG_PACKAGE_odhcp6c=m
CONFIG_PACKAGE_opkg=m
CONFIG_PACKAGE_ppp-mod-pppoe=m
CONFIG_PACKAGE_uci=m
