CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_ramips_mt76x8_Default=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=512
CONFIG_PACKAGE_kmod-mt76=m
CONFIG_PACKAGE_kmod-sdhci-mt7620=m
CONFIG_PACKAGE_kmod-sound-mt7620=m
CONFIG_PACKAGE_kmod-sound-soc-ac97=m
CONFIG_PACKAGE_kmod-i2c-gpio=m
CONFIG_PACKAGE_kmod-i2c-mt7621=m
CONFIG_PACKAGE_kmod-pwm-mediatek=m
CONFIG_PACKAGE_kmod-leds-gpio=m
CONFIG_PACKAGE_kmod-ledtrig-gpio=m
CONFIG_PACKAGE_kmod-ledtrig-netdev=m
CONFIG_PACKAGE_VoCore2=m
CONFIG_PACKAGE_forked-daapd=m
CONFIG_PACKAGE_shairplay=m
CONFIG_PACKAGE_shairport=m
CONFIG_PACKAGE_shairport-sync-mini=m
CONFIG_PACKAGE_shairport-sync-openssl=m
CONFIG_PACKAGE_shairport-sync-polarssl=m
CONFIG_PACKAGE_madplay-alsa=m
CONFIG_PACKAGE_luci-app-mjpg-streamer=m
