CONFIG_LIBC_USE_GLIBC=y
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_generic=y
CONFIG_TARGET_x86_generic_Generic=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
# CONFIG_TARGET_ROOTFS_JFFS2 is not set
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
CONFIG_TARGET_UBIFS_FREE_SPACE_FIXUP=y
CONFIG_TARGET_UBIFS_JOURNAL_SIZE=""
CONFIG_GRUB_IMAGES=y
CONFIG_GRUB_CONSOLE=y
CONFIG_GRUB_SERIAL="ttyS0"
CONFIG_GRUB_BAUDRATE=38400
CONFIG_GRUB_BOOTOPTS=""
CONFIG_GRUB_TIMEOUT="5"
CONFIG_TARGET_IMAGES_PAD=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_KERNEL_PARTSIZE=8
CONFIG_TARGET_ROOTFS_PARTSIZE=96
CONFIG_TARGET_ROOTFS_PARTNAME="/dev/sda2"
CONFIG_TARGET_ROOTFS_INCLUDE_UIMAGE=y
CONFIG_TARGET_ROOTFS_INCLUDE_ZIMAGE=y
CONFIG_TARGET_ROOTFS_INCLUDE_FIT=y
CONFIG_PACKAGE_kmod-ath5k=m
CONFIG_PACKAGE_kmod-ath9k=m
CONFIG_PACKAGE_kmod-ath10k=m
CONFIG_PACKAGE_partx-utils=m